email=safder.areepattamannil@auth0.com
always-auth=true
registry=https://a0us.jfrog.io/artifactory/api/npm/npm/
//a0us.jfrog.io/a0us/api/npm/npm/:_auth=
//a0us.jfrog.io/a0us/api/npm/:_authToken=
//a0us.jfrog.io/a0us/api/npm/:_auth=
//a0us.jfrog.io/artifactory/api/npm/npm/:_authToken=
